body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

.flex-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

header {
  width: 100%;
  position: fixed;
  z-index: 1;
  height: 69px;
  background-color: black;
  border-bottom: 1px solid seashell;
  align-items: center;
  top: 0px;
}

.logo img {
  height: 50px;
  padding-left: 10px;
}

nav {
  text-align: right;
  flex-grow: 1;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

a {
text-decoration: underline;
color: seashell;
}

.maincontent {
  padding-top: 69px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

#mission {
  align-items: center;
  padding-top: 70px;
  height: 700px;
  width: 1200px;
  margin: auto;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
}

#mission .content {
  text-align: center;
  margin: auto;
  width: 100%;
  background-color: black;
}

#featuredtea {
width: 1000px;
padding-top: 70px;
margin: auto;
height: 770px;
align-items: center;
justify-content: center;
}

#featuredtea .content {
  text-align: center;
  margin: auto;
  width: 100%;
  background-color: black;
}

.featuredteas {
margin: auto;
width: 1000px;
flex-wrap: wrap;
display: flex;
justify-content: center;
}

.teas {
  flex-direction: column;
  width: 320;
  padding: 5px;
  display: block;
}

.teas img {
  width: 300px;
  height: 200px;
  margin: 10px;
}

.teas span {
  padding: 5px;
  display: block;
  font-weight: bold;
  text-align: center;
}

#locations {
  align-items: center;
  padding-top: 70px;
  height: 500px;
  width: 1200px;
  margin: auto;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  display: block;
}

#locations .content {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  display: block;
  flex-wrap: wrap;
}

#locations h2 {
  margin: 0 auto;
  padding: 10px;
}

.locationcontainers {
  align-items: center;
  flex-wrap: wrap;
  width: auto;
  padding-top: 5px;
  margin: 0 auto;
  display: inline-flex;
}

.location {
  flex-direction: column;
  background-color: black;
  opacity: 1;
  width: 300px;
  padding; 10px;
  margin: 5px 20px;
  display: flex;
}

.location p {
  display: block;
  margin-top: 22px;
  margin-bottom: 22px;
}

.contact {
  height: 200px;
  flex-direction: column;
}

.contact h2 {
  display: block;
}

.contact h5 {
  display: block;
}

footer {
  padding-left: 20px;
}

footer h5 {
  text-align: left;
}
